@{    
    Layout = "~/_Master.cshtml";

    const string DISQUS_SHORTNAME = "arealdeveloper";        
    
    string content, submittedBy, permaLink = string.Empty;               
    int quotesCount, approvedQuotesCount = 0;        
        
    var quoteId = Request["q"];
    var thisUrl = Request.Url.GetLeftPart(UriPartial.Path);        
    
    using (var quoteDb = new QuoteDatabase()){         
        approvedQuotesCount = quoteDb.GetApprovedQuotesCount();
        
        if (!quoteId.IsEmpty() && quoteId.AsInt() != 0){      
            var result = quoteDb.GetQuote(Convert.ToInt32(quoteId));      
            
            content = result.Content;
            submittedBy = result.SubmittedBy;
        } else {        
            var randomResult = quoteDb.GetRandomQuote();
            
            quoteId = Convert.ToString(randomResult.Id);
            content = randomResult.Content;
            submittedBy = randomResult.SubmittedBy;
        }
    }
    
    permaLink = string.Format("{0}?q={1}", new object[] { thisUrl, quoteId });
}

<div id="wrapper">
    <div id="container">                
        <span id="first"><a title="Click for another one.. or reload the page" href="@thisUrl">A Real Developer </a></span> 
        <span id="second"><a title="Click for another one.. or reload the page" href="@thisUrl">@content</a></span>
        <br/>               
        <span id="submittedby">By <a href="http://twitter.com/@submittedBy">@@@submittedBy</a></span>
        <table id="quoteactions">
            <tr>
                <td><span class="quoteactiondesc">Permalink <span></td>                        
                <td>=></td>
                <td>@permaLink</td>
            </tr>                    
            <tr>
                <td><span class="quoteactiondesc">Share<span></td> 
                <td>=></td>
                <td>                         
                    @AddThis.Render(@permaLink, "A Real Developer " + @content, "Via arealdeveloper.com")                                                  
                </td>                        
            </tr>                   
        </table>     
        <div id="disqus_thread"></div>
    </div>
    <div id="push"></div>
</div> 
<div id="footer">
    <div id="nav"><a href="Submit.cshtml">Submit your quote</a> (@approvedQuotesCount)</div>
    <div id="info"> 
        <span>A Real Developer hosts with <a href="http://www.appliedi.net/" title="Thank them for hosting this site!">Applied Innovations</a></span>           
        <span> // </span>
        <td><a href="http://feeds.feedburner.com/ARealDeveloper">Feed</a></td>
        <span> // </span>               
        <span><a href="http://jclaes.blogspot.com/2011/04/arealdevelopercom.html" title="Be warned, this points to my blog!">About+Feedback</a></span>
        <span> // </span>
        <span><a href="http://twitter.com/JefClaes">@@JefClaes</a></span>                  
    </div>
</div>

@section scripts {
    <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4dbc0f971f989f5b"></script>
    @Disqus.Render(DISQUS_SHORTNAME, @quoteId, @permaLink)
}

   

